.aboutus-container{
    margin: 2em;
    padding: 2em;
}

.conts{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.aboutus-heading{
    text-align: center;
    
}

.about{
    background-color: #face46;
    border-radius: 30px;
    padding: 2em;
    margin: 2em;
    width: 250px;

}


.features{
    background-color: #face46;
    border-radius: 30px;
    padding: 2em;
    margin: 2em;
    width: 250px;
}

.features-list{
    list-style-type:circle;
}

.developers{
    background-color: #face46;
    border-radius: 30px;
    padding: 2em;
    margin: 2em;
    width: 250px;
}