.aboutus-container{
    margin: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.conts{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.aboutus-heading{
    text-align: center;
    border-radius: 30px;
    background: #fece46;
    align-self: center;
    width: 30vw;
    color: black;
    padding: 10px;
    
}

.about{
    background-color: #face46;
    border-radius: 30px;
    padding: 2em;
    margin: 2em;
    min-width: 80%;

}


.features{
    background-color: #face46;
    border-radius: 30px;
    padding: 2em;
    margin: 2em;
    min-width: 80%;
}

.features-list{
    list-style-type:circle;
}

.developers{
    background-color: #face46;
    border-radius: 30px;
    padding: 2em;
    margin: 2em;
    width: 250px;
}