
.page-container {
    position: relative;
    min-height: 100vh;
  }

.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

.footer{
    background-color: #6814D3;
    color: white;
    /* font-size: 2.5em; */
    padding: 0px;
    margin-top: 10px; 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}

.footer p{
    margin-top: 10px;
}

.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #6814D3;
    color: white;
    padding: 10px;
}

.Navbar li{
    list-style-type: none;
    font-size: 2.5em;
}

.Navbar li a{
    color: white;
    text-decoration: none;
}

.Navbar li a:hover{
    color: yellow;
    text-decoration: none;
}

.homeh1{
    background-color: rgba(228, 222, 222, 0.5);

}
.peopldetails{
    padding: 30px;
    background-color: whitesmoke;
    opacity: 75%;
}
