.details-container{
    margin: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    background-color: #fece46;
    border-radius: 30px;

}

.coins-details{
    padding: 5%;
}
.coin-headings{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px 40px;
    background-color: white;
    border-radius: 60px;
    align-self: center;
}
.logos{
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    align-self: center;
}