@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&display=swap');
* {
  font-family: Roboto, sans-serif;
  /* border: solid black 2px; */
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-size: 1.1rem;
}
nav {
  display: flex;
  padding: 2rem 0;
  background: #111;
  
}
nav section {
  width: 100%;
}
nav a {
  /* font-weight: 700; */
  font-size: 27px;
  padding: 1rem 1.5rem;
  border-radius: 4px;
}
nav a:first-of-type {
  margin-left: -1.5rem;
}
nav a:hover {
  display: block;
  cursor: pointer;
  background-color: #FECE46;
  border-radius: 30px;
  color: black;
}
a {
  color: #ea3546;
  text-decoration: none;
}
section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}
section h1 {
  font-size: 3rem;
}
.post h2 {
  font-size: 2.5rem;
}
.post-excerpt {
  padding: 1.5rem 0;
  border-bottom: 1px solid #eee;
}
.post-excerpt:first-of-type {
  padding-top: 0;
}
.post-excerpt h2 {
  margin-top: 0;
  font-size: 1.5rem;
}
.comment {
  background: #f0f0f0;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
}
.button {
  display: inline-block;
  background: #ea3546;
  color: white;
  border-radius: 4px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
}

.home {
  background-color: rgba(104, 20, 211, .6);
  margin: 10%;
  border-radius: 30px;
  padding: 1%;
}

.landButton {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #FECE46;
  padding: 8% 10%;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Abril Fatface', cursive;
  color: black;
  background-size: 100%;
  box-shadow: 0 0 0 7px #fece46 inset;
}

.img-container img{
  width: 250px;
  margin: 30px 30px 30px 0;
  float: left;
  background-position: 50% 0%;
}

.text-container {
  display: inline; 
}
.container h2 {
  text-align: center;
  color: #fece46;
  font-size: 3em;
  font-family: 'Lobster', cursive;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
}
/* .container button {
  display: inline-block;
  align-items: center; 
  width: 46%;
} */

.container {
  display: inline;
}